.topValue {
    display: inline-block;
    margin-left: 10px;
    padding-right: 40px;
}

.topValue button {
    margin-left: 20px;
}

.resultField {
    display: inline;
    margin-left: 10px;
}

.topValueInnerContent {
    margin: 20px;    
}